<%- include('../partials/header.ejs') %>
  <p>Welcome to <%= title %></p>

  <table id="list">
    <thead>
      <tr>
        <th>Title</th>
        <th>Studio</th>
        <th>Release<br>Year</th>
        <th>Edition</th>
        <th>ESRB<br>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(function(g) { %>
        <tr>
          <td><%= g.title %></td>
          <td><%= g.studio %></td>
          <td><%= g.releaseYear.getFullYear() %></td>
          <td><%= g.edition %></td>
          <td><%= g.rating %></td>
          <td><a href="/games/<%= g._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
<%- include('../partials/footer.ejs') %>
