<%- include('../partials/header') %>

<section id="show-page">
  <div>Title:</div>
  <div><%= game.title %></div>
  <div>Studio:</div>
  <div><%= game.studio %></div>
  <div>Release Year:</div>
  <div><%= game.releaseYear.getFullYear() %></div>
  <div>Edition:</div>
  <div><%= game.edition %></div>
  <div>Rating:</div>
  <div><%= game.rating %></div>
  <div>Edit:</div>
  <div>
    <a href="/games/<%= game._id %>/edit">Edit</a>
  </div>
  <div>Delete:</div>
  <div>
  <form method="POST" action="/games/<%= game._id %>?_method=DELETE">
    <button class="delete" type="submit">Delete</button>
  </form>
</div>
</section>

<%- include('../partials/footer') %>
